* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    position: relative;
}
/* rgb(0, 64, 240) */

.container {
    position: relative;
}

.background {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, rgb(0, 64, 240), rgb(115, 153, 255));
}

.form-container {
    position: absolute;
    width: 40vw;
    min-height: 60vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.form-title {
    color: rgb(0, 64, 240);
    display: block;
    font-size: 2em;
    font-weight: bold;
    width: fit-content;
    margin: 30px auto;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 0px 20px;
}

.input-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

input {
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
    padding: 15px 20px;
    margin: 10px;
    border: none;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
}


input[type="submit"] {
    background-color: rgb(0, 64, 240);
    color: white;
    cursor: pointer;
    width: 30%;
    padding: 10px;
    margin: 20px;
    display: block;
    border: 2px solid white;
    transition: all 150ms linear;
}

input[type="submit"]:hover {
    background-color: white;
    color: rgb(0, 64, 240);
    border-color: rgb(0, 64, 240);
}

a {
    font-size: .75em;
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

span.form_err {
    color: red;
    font-weight: bold;
    display: block;
    font-size: .8em;
}

.loading-page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000c7;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.loading-container {
    width: 30vw;
    height: 30vh;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-text {
    animation-name: showhide;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(0, 64, 240);
}


@keyframes showhide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}